<!-- A 404 NOT FOUND PAGE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 Page Not Found</title>
    </head>
    <body>
    {% extends "base.html" %}
    {% block content %}

    <div style="text-align: center;">
        <h1>404</h1>
        <p>Page Not Found</p>
        <a href="/">Go to Home</a>     <!-- Link to return HomePage -->
    </div>

    {% endblock %}
    </body>
</html>