<html>
    <head>
        <title> Dingzhi Zhou's Webpage    </title>
        <link rel = "stylesheet"  href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <link rel = "stylesheet"  href = "../static/Styles/style.css" />
    </head>


    <body>  
        <h1> Welcome    </h1>
        <h2> My name is Dingzhi Zhou. </h2>
        <h3> This is my first Webpage </h3>
        <h3> I am a master student at University of Pittsburgh</h3>

        

        <div class = "main-content">
            <div class = "top-section"> 
                <img src = "../static/Styles/Avatar.png"/>
                <p> Dingzhi Zhou </p>
                <p> I am a master student at University of Pittsburgh </p>
                <p>Email: DIZ21@pitt.edu </p>
                <p>Mobile: +1(878)264-2533</p>
            </div>
            <div class = "middle-section"> 
                <a href = "https://www.facebook.com/">
                    <i class = "fab fa-facebook fa-fw"> </i>
                </a>
                
                <a>
                    <i class = "fab fa-twitter fa-fw"> </i>
                </a>

                <a href = "https://www.linkedin.com/in/dingzhizhou">
                    <i class = "fab fa-linkedin fa-fw"> </i>
                </a>

            </div>
            <div class = "bottom-section"> 
                <div>
                    University of Pittsburgh
                    <span> Master of Science in Information Science (2022-present) </span>
                </div>
                <div class ="boarder">   </div>
                <div>
                    Temple University
                    <span> Master of Science in Electrical Engineering (2021-2022) </span>
                    <span> Bachelor of Science in Electrical Engineering (2016-2021) </span>
                </div>
            </div>
            
        </div>

        <form action = "action.js" class = Login>
                <h2> Login </h2>
            <input type = "text" placeholder = "Username" />
            <input type = "password" placeholder = "Password" />
            <input type = "submit" value = "Login" />
        </form>
    </body>

</html>